doctype html
html
head
	title= title
	link(rel='stylesheet', href='/css/bootstrap.css')
	link(rel='stylesheet', href='/css/style.css')
	script(type='text/javascript', src="/javascripts/react/react.js")
	script(type='text/javascript', src="/javascripts/react/JSXTransformer.js")

body
	block content
